@use 'global/reset';
@use 'global/vant';
@use './pages/home';
@use './pages/about';
@use 'sass:math';

@import './global/vant';
@import './global/reset';
@import './global/global';

@font-face {
    font-family: Alibaba;
    font-style: normal;
    font-weight: normal;
    src: url('/alibaba.TTF') format('truetype');
}

body {
    font-family: Alibaba, sans-serif !important;
}

.bottom-nav {
    --van-tabbar-background: #000;
    --van-tabbar-item-active-color: #e4b857;
    --van-tabbar-item-inactive-color: #a3a3a3;

    bottom: -1px;
    height: 209px;

    .nav-icon {
        width: 85px;
        height: 85px;
        margin-bottom: 8px;
    }

    .van-tabbar-item {
        padding: 35px 0 40px;
        color: #e4b857;
    }

    &::after {
        display: none;
    }

    &::before {
        position: absolute;
        top: -8px;
        left: 50%;
        z-index: 9;
        display: block;
        width: 1080px;
        height: 24px;
        background: url('/images/casino/line_gold.png') no-repeat;
        content: '';
        transform: translateX(-50%);
        background-size: 1080px 24px;
    }
}
