@use 'global/reset';
@use 'global/vant';
@use './pages/home';
@use './pages/about';
@use 'sass:math';

@import './global/vant';
@import './global/reset';
@import './global/global';

@font-face {
    font-family: Alibaba;
    font-style: normal;
    font-weight: normal;
    src: url('/alibaba.TTF') format('truetype');
}
@font-face {
    font-family: cinze;
    font-style: normal;
    font-weight: normal;
    src: url('/cinze.ttf') format('truetype');
}

body {
    font-family: Alibaba, sans-serif !important;
    color: #f2d458;
    background-color: #000;
}

.font_cinze {
    font-family: cinze, sans-serif !important;
}

.main {
    margin: 0 auto;
}
