@use 'global/reset';
@use 'global/vant';
@use './pages/home';
@use './pages/about';
@use 'sass:math';

@import './global/vant';
@import './global/reset';
@import './global/global';

@font-face {
    font-family: Alibaba;
    font-style: normal;
    font-weight: normal;
    src: url('/alibaba.TTF') format('truetype');
}

body {
    font-family: Alibaba, sans-serif !important;
}

.main {
    margin: 0 auto;
}
