body {
    height: auto !important;
    background: #eee !important;
}

.main {
    // width: 1024px;
    margin: 0 auto;
}

.article-content img,
.reply-item-content img {
    max-width: 100%;
}

.reply-item {
    padding-top: 8px;
    border-bottom: 1px dashed #ccc;

    h5 {
        span {
            font-size: 12px;
            font-weight: 400;
        }
    }
}

h3 {
    text-align: center;
}

.article-content {
    word-wrap: break-word;
}

.reply {
    border-top: 1px solid #ccc;
}

pre {
    overflow: auto;
}

.el-loading-mask {
    background-color: rgba(255, 255, 255, 0.4);
}

.bottom-nav {
    --van-tabbar-background: #000;
    --van-tabbar-item-active-color: #e4b857;
    --van-tabbar-item-inactive-color: #a3a3a3;

    .van-tabbar-item__icon img {
        height: 24px;
    }
}
