.promotion-page {
    padding: 0 20px 200px;
}

.promotion-list {
    display: flex;
    flex-direction: column;
    width: 1038px;
    padding-top: 20px;
    margin: 0 auto;
    gap: 10px;

    img {
        width: 100%;
    }

    li {
        position: relative;
    }
}
